img {
    width: 50px;
}

#face {
    width: 400px;
}

#eyes1 {
    position: absolute;
    padding-top: 180px;
    width: 175px;
    height: auto;
    left: 120px;
}

#nose1 {
    position: absolute;
    padding-top: 260;
    left: 175px;
}

#mouth2 {
    position: absolute;
    top: 355px;
    width: 100px;
    height: auto;
    left: 150px;
}

#hair1 {
    position: absolute;
    top: 5px;
    width: 315px;
    left: 50px;
}

#ears1 {
    position: absolute;
    width: 400px;
    left: 4px;
    top: 80px;
    z-index: 1;
}